.itemDate {
    color: #000;
}


.test {
    background: #f00;

    .vertical-timeline-element-content {
        background: green ;
    }
    .vertical-timeline-element-date {
        color: green;
    }

    h4 {
        color: green;
    }

    
}