.timelinecontainer {
    :global(> .itemdate) {
        color: #000;
        padding-top:0;
        font-size:25px;
    }

    .vertical-timeline-element-title {
        color: #f00;
    }
}

.itemPrice {
    font-weight: 800;
    font-size:22px;
}
    



.importantvalue {
    font-weight: bolder;
    font-size:40px;
    color:#febd69;
}

.mainBlockContainer {
    min-width: 850px;
    margin-top: 2em;

    .columnitem{
        font-family: Montserrat;
        font-weight: bolder;
        border: 4px solid #febd69;
        border-radius: 20px;
        margin: 0 10px;
        text-align: center;
        background-color: #fbebbc;
        padding:10px;    
    }
}

